/** Modals **/

[aria-describedby="drupal-modal"], #drupal-modal.modal {
    width:unset;
    min-width: 600px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

[aria-describedby="drupal-modal"] img, #drupal-modal.modal img {
    max-width: 100%;
}

.modal-content {
    overflow: scroll;
}

/* Mobile compatibility for modals - below a 768px breakpoint, fix width at 100% with 20px margins */

@media (max-width: 768px) {
    [aria-describedby="drupal-modal"], #drupal-modal.modal {
        width: 100%;
        min-width: unset;
        max-width: unset;
    }
}

/** Views tweak: TODO use hook_form_alter so we don't have to hide this **/

#views-exposed-form-kb-entity-view-1 .form-item-category {
    display: none;
}